.productInfo{
    border: 1px solid transparent;
    height: 100%;
    margin-left: -16px;
    margin-top: -14.5px;
    // background-color: rgb(241, 241, 241);
    // padding-top: px;
    padding-left: 10px;
    .infoMainer{
        padding:10px 20px;
        margin-top: 15px;
    }
}