$themeColor: #409eff;
$successColor: #67c23a;
$warningColor: #e6a23c;
$dangerColor: #f56c6c;
$infoColor: #909399;

html{
    --themeColor:$themeColor,
    --successColor:$successColor,
    --warningColor:$warningColor,
    --dangerColor:$dangerColor,
    --infoColor:$infoColor
}